@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|BioRhyme|Sanchez|Tangerine|Italianno|Lato:ital,wght@0,900;1,900&display=swap');

@font-face {
font-family: "Peace";
src: url("/ShowcaseGraphicsWebsite/assets/font/Peace Sans.otf") format("opentype");
}

html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	overflow-y: overlay;

}


*{
	cursor: none;
}

.title{
	font-weight: bolder;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: min(30vw,30vh);
	font-family: 'Lato', sans-serif;
	color: var(--color);
	opacity: 0;
	z-index: 20;
	pointer-events: none;
	transition: all 1.25s;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  transform: scale(2);
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.loading{
	z-index: 10000;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background: black;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}



body{
	overflow-x: hidden;
	background: #fff;
	transition: 0.5s;
	overflow: hidden;
	cursor: none;
}

.incircle{
	position: fixed;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: white;
	z-index: 9999;
  transform:translate(-50%,-50%);
  pointer-events: none;
  mix-blend-mode: difference;
  transition: height 0.5s, width 0.5s;
}

.pointer{
	opacity: 0;
	transition: opacity 0.5s;
}

.circblack{
	background-color: black !important;
}

.outcircblack{
	border:0.5px solid black !important;	
}

.outcircle{
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	opacity: 1;
	background-color: transparent;
	border: 0.5px solid white;
	z-index: 9998;
  transform:translate(-50%,-50%);
  pointer-events: none;
  mix-blend-mode: difference;
  transition: height 0.5s, width 0.5s;
}

.custom-shape-divider-bottom-1622854535 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 20;
}

.custom-shape-divider-bottom-1622854535 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 250px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1622854535 .shape-fill {
    fill: #fff;
}


#typewrite{
	position: relative;
	font-family: Montserrat;
	display: flex;
	padding-top: 20vh;
	z-index: 20;
	height: fit-content;
}

#head{
	font-size: calc(5px + 0.75vw) ;
	color: black;	
	line-height: 1.75;
	letter-spacing: 3px;
	word-spacing: 10px;
	overflow-y: hidden;
	z-index: 1;
	width: 100%;
	padding: 25px;
	margin-right: 5vw;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
	opacity: 0;
	transform: translateY(-50px);
	transition: all 1.5s;
}

::selection {
		color: white;
		background: black;
	}


.incirclehov{
	width: 15px;
	height: 15px;
}

.outcirclehov{
	width: 65px;
	height: 65px;
	background: rgba(245, 245, 245, 1);
	mix-blend-mode: difference;
}

.fluidcont{
	height: calc(110vh);
	position: relative;
	width: 100vw;
	background-color: #fff;
	z-index: -2;
}

.fluid{
	width: 100%;
	height: 95%;
	float:left;
	position: relative;
	background-image: radial-gradient(circle at 99% 33%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));;
	background-image: linear-gradient(66deg, transparent 0%, transparent 24%,rgba(195, 195, 195,0.04) 24%, rgba(195, 195, 195,0.04) 80%,transparent 80%, transparent 100%),linear-gradient(153deg, transparent 0%, transparent 29%,rgba(195, 195, 195,0.04) 29%, rgba(195, 195, 195,0.04) 45%,transparent 45%, transparent 100%),linear-gradient(199deg, transparent 0%, transparent 32%,rgba(195, 195, 195,0.04) 32%, rgba(195, 195, 195,0.04) 59%,transparent 59%, transparent 100%),linear-gradient(277deg, transparent 0%, transparent 56%,rgba(195, 195, 195,0.04) 56%, rgba(195, 195, 195,0.04) 57%,transparent 57%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
	background-image: radial-gradient(circle at 99% 33%, rgba(187,187,187, 0.06) 0%, rgba(187,187,187, 0.06) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, rgba(187,187,187, 0.06) 0%, rgba(187,187,187, 0.06) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, rgba(187,187,187, 0.06) 0%, rgba(187,187,187, 0.06) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, rgba(187,187,187, 0.06) 0%, rgba(187,187,187, 0.06) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, rgba(187,187,187, 0.06) 0%, rgba(187,187,187, 0.06) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
	display: flex;
	/*border-radius: 16% 0% 45% 55% / 0% 0% 18% 69% ;*/
	/*border-radius: 0% 0% 80% 100% / 0% 0% 30% 100% ;*/
	/*border-radius: 0% 0% 49% 94% / 0% 0% 20% 100% ;*/
	/*border-radius: 0% 0% 33% 67% / 0% 0% 14% 100% ;*/
	justify-content: flex-end;
}


.fluidtxt{
	margin-top: 160px;
	margin-right: 12%; 
	width: calc(80% - 40vw);
	height: 50%;
	color:white;
	position: relative;
	top: -10px;
	font-size: calc(15px + 2.75vw);
	line-height: 1.25;
	overflow: hidden;
	font-family: Tangerine;
}


::-webkit-scrollbar {
  width: 10px;
  z-index: 9000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
  border: 1px solid black;
  transition: all 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  background: white;
}

.button{
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 100px;
	height: 100px;
	background: white;
	border: 25px solid white;
	box-shadow: 20px 20px 10px black;
	border-radius: 50%;
	visibility: hidden;
	z-index: 10000;
	overflow: hidden;
}


.innerbutton{
	width: 140px;
	height: 140px;
	transform: rotate(0deg);
	transform-origin: left center;
	transition: 0.5s;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	position: relative;
	left: 10px;
	top: 10px;	
}


.square{
	width: 70px;
	height: 70px;
	border-radius: 5px;
	border: 5px solid black;
}

.blank{
	width: 70px;
	height: 70px;
}

.cross{
	width: 70px;
	height: 70px;
	position: relative;
	top: -3px;
	left: -3px;
	border-radius: 5px;
	border-top: 5px solid black;
	border-left: 5px solid black;
}



.menu{
	height: 2000px;
	width: 2000px;
	background-image: radial-gradient(circle at 28% 44%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 1%,transparent 1%, transparent 73%,transparent 73%, transparent 100%),radial-gradient(circle at 81% 65%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 18%,transparent 18%, transparent 77%,transparent 77%, transparent 100%),radial-gradient(circle at 51% 45%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 11%,transparent 11%, transparent 12%,transparent 12%, transparent 100%),radial-gradient(circle at 10% 56%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 82%,transparent 82%, transparent 90%,transparent 90%, transparent 100%),radial-gradient(circle at 42% 35%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 22%,transparent 22%, transparent 77%,transparent 77%, transparent 100%),radial-gradient(circle at 26% 86%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 17%,transparent 17%, transparent 52%,transparent 52%, transparent 100%),radial-gradient(circle at 52% 88%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 49%,transparent 49%, transparent 70%,transparent 70%, transparent 100%),radial-gradient(circle at 62% 41%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 14%,transparent 14%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 54% 59%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 42%,transparent 42%, transparent 86%,transparent 86%, transparent 100%),linear-gradient(135deg, rgb(255,255,255),rgb(255,255,255));
	background-image: radial-gradient(circle at top left, rgb(226,226,226) 0%, rgb(226,226,226) 2%,rgb(191,191,191) 2%, rgb(191,191,191) 23%,rgb(209, 209, 209) 23%, rgb(209, 209, 209) 55%,rgb(191,191,191) 55%, rgb(191,191,191) 80%,rgb(208,204,204) 80%, rgb(208,204,204) 86%,rgb(234,230,230) 86%, rgb(234,230,230) 96%,rgb(226,226,226) 96%, rgb(226,226,226) 100%);
	position: fixed;
	top: 0;
	left: 100vw;
	visibility: hidden;
	transition: all 0.75s;
}

.hbp{
	width: 450px;
	height: 135px;
	margin: 100px;
	position: relative;
	background: white;
	font-weight: bold;
	border: 5px solid black;
	left: 200px;
	top: 200px;
	font-family: BioRhyme;
	font-size: 4em;
}

.lower{
	position: relative;
	top: -50px;
	width: 100vw;
	height: calc(550px + 10vh);
	background-color: #fff;
}

.flyin{
	position: relative;
	opacity: 0;
	transition: all 2.5s;
}

.phys{
	width: 40%;
	font-family: Italianno;
	font-size: 8vw;
	font-weight: bold;
	letter-spacing: 0.15em;
	text-align: center;
}

.phys:hover .physicsin{
	animation: phys 0.75s;
}

@keyframes phys{
	0%{
		letter-spacing: 1em;
		transform: translateX(-300px);
	}
	100% {
		letter-spacing: 0.15em;
	}
}

.code{
	left: 30px;
	top: 35px;
	width: 18%;
	font-family: Tangerine;
	font-size: 8vw;
	font-weight: bold;
	letter-spacing: 0.05em;
	transform: translateX(100%) ;
	z-index: 2;
}
.code:hover .codein{
	animation: code 0.75s;
}

@keyframes code{
	0%{
		transform: scaleY(0.1);
	}
	100%{
		transform: scaleY(1.0);
	}
}

.art{
	left: -50px;
	top: 7px;
	width: 7%;
	font-family: BioRhyme;
	font-size: 3vw;
	font-weight: bold;
	transform: translateX(-100%) ;
	z-index: 5;
}

.art:hover .artin{
	animation: art 0.75s;
}

@keyframes art{
	0%{
		transform: skewY(-45deg);
		transform-origin: bottom left;
	}
	100%{
		transform: skewY(0deg);
	}
}

.photo{
	left: 50px;
	top: -30px;
	width: 28%;
	font-family: Sanchez;
	font-size: 4vw;
	font-weight: bold;
	transform: translateX(-100%) ;
	z-index: 5;
}

.photo:hover .photoin{
	animation: photo 0.75s;
}

@keyframes photo{
	0%{
		transform: skewX(60deg);
	}
	100%{
		transform: skewX(0deg);
	}
}

.music{
	left: -70px;
	top: -30px;
	width: 12%;
	font-family: Montserrat;
	font-size: 3vw;
	font-weight: bold;
	transform: translateX(100%) ;
}

.music:hover{
	animation: music 0.75s
}

@keyframes music{
	0%{
		transform: scale(2);
	}
	100%{
		transform: scale(1.0);
	}

}


.invisible{
	opacity: 0;
}

#about{
	background: #fff;
	width: 100%;
	position: relative;
	padding-top: 5vh;
}

#inabout{
	width: 100%;
	display: inline-grid;
	grid-template-columns: repeat(2, 1fr);
}

#waves{
	background-image: url('/ShowcaseGraphicsWebsite/assets/images/waves1.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	aspect-ratio:  900/250;
	width: 100vw;
	position: relative;
	bottom: 0;
	z-index: 1;
}

#wavesabout{
background-image: url('/ShowcaseGraphicsWebsite/assets/images/wavesabout.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	aspect-ratio:  900/250;
	width: 100vw;
	position: relative;
	bottom: 0;
	z-index: 1;
}

#acad{
	background: #73A5C6;
	position: relative;
}

#inacad{
	width: 100vw;
	padding: 2.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#edu{
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	width: 100%;
}
#proj{
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	width: 100%;
}

#edutit{
	color: white;
	font-variant: small-caps;
	font-size: calc(30px + 1.75vw);
	font-weight: bolder;
	text-align: center;
	font-family: Lato;
	letter-spacing: 3px;
	line-height: 1.5;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	writing-mode: vertical-rl;
	text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

#qual{
	
	position:fixed;
	left:17.5%;
	transform: translateY(-50%) scale(-1);
	top:50%;
	opacity:0;
	transition: all 1s ease-in-out;
	z-index: 50;
}

#rese{
	position:fixed;
	right:17.5%;
	transform: translateY(-50%);
	top:50%;
	opacity:0;
	transition: all 1s ease-in-out;
	z-index: 50;
}

@keyframes float{
		0%{
			transform: translateY(0px) rotate(-1deg);
		}
		50%{
			transform: translateY(-10px) rotate(1deg);
		}
		100%{
			transform: translateY(-20px) rotate(-1deg);
		}
}

#eduitems{
	padding: 20px;
	margin-bottom: 5vh;
}


.eduitem{
	width: 80%;
	border-radius: 20px 20px 0px 0px;
	background: white;
	padding: 15px 15px 5px 40px;
	color: rgba(0, 0, 0, 0.75);
	position: relative;
	transition: all 2s;
	transform-origin: top center;
	clip-path: inset(0 0 100% 0);
	transition-delay: 0.4s;
}

.it{
	position: relative;
	margin-bottom: 15vh;
	animation: float 5s alternate infinite ease-in-out;
	filter: drop-shadow(5px 5px 20px #001847);
	z-index:100;

}

.cut{
	background: #fff;
	height: 20px;
	clip-path: url('#myclip');
	width: 80%;
	padding: 15px 15px 15px 40px;
	border-radius: 20px 20px 20px 20px;
	position: absolute;
	top: 0px;
	transform: scaleY(0);
	transform-origin: top center;
	transition: transform 0.5s, top 2s, border-radius 2s;
}

.noclip{
	animation: removeclip 2s ease forwards;
	transition: clip-path 3s;
}

@keyframes removeclip{
	100%{
		clip-path: url('#noclip');
	}
}

.qual{
	font-size: calc(20px + 1vw);
	font-family: Lato;
	padding: 10px;
	letter-spacing: 2px;
	font-weight: bolder;
	color: rgba(0, 0, 0, 0.7);
}

.qualdesc{
	display: grid;
	grid-template-columns: 7fr 1fr;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	font-family: Montserrat;
}

.projdesc{
	font-size: calc(5px + 0.75vw);
	padding: 10px;
	letter-spacing: 1px;
	line-height: 2;
	font-family: Montserrat;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.descinfo{
	font-size: calc(5px + 0.75vw);
	padding: 10px;
	letter-spacing: 1px;
	line-height: 2;
}

.descmarks{
	font-size: calc(30px + 3vw);
	padding: 15px;
	font-family: Lato;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	transform: scaleX(0.7);
	transform-origin: right center;
	font-weight: bolder;
	color: rgba(0, 0, 0, 0.5);
}

.circle{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
	background: #73A5C6;
	border-radius: 50%;
	box-shadow: inset 1px 1px 5px #001847;
}

#skills{
	background: #050b24;
	width: 100vw;
	padding-top: 20vh;
	position: relative;
}


#inskills{
	margin-left: 10%;
	margin-right: 10%;
	z-index: 2;
	padding-bottom: 5vh;
}

.entry{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	padding: 1.5vh;
	z-index: 10;
}

.exptit{
	width: 100%;
	padding: 1.5vh;
	z-index: 10;
	color: white;
	font-family: Sanchez;
	font-size: calc(15px + 2vw) ;
	letter-spacing: 2px;
	font-variant: all-small-caps;
	font-weight: bolder;
	text-align: center;
	text-decoration: ;
}


.lang{
	color: white;
	width: 95%;
	text-align: right;
	font-family: Montserrat;
	font-size: calc(10px + 1vw) ;
	letter-spacing: 2px;
	font-variant: all-petite-caps;
	font-weight: bold;
	animation:  2s infinite alternate;
}

@keyframes lang{
	to{
		transform: translateX(10px);
		text-shadow: -10px 2.5px 2px rgba(255, 255, 255, 0.1);
		filter: drop-shadow(-15px 5px rgba(0,0,0,0.1));
	}
}


.exp{
	background: #747ec4;
	background: #fff;
	width: 0;
	height: 100%;
	transition-property: all;
	transition-duration: 2s;
	animation: exp 2s infinite alternate;
	border-radius: 15px;
	transform: scale(0.97);
}




@keyframes exp{
	to{
		transform: translateX(-5px) scale(1);
		filter: drop-shadow(10px 15px rgba(0,0,0,1));
		box-shadow: 5px 10px 0px rgba(255,255,255,0.5);
	}
}

#waves2{
	background-image: url(/assets/images/wave2.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	aspect-ratio: 900/250;
	position: relative;
	bottom: 0;
	z-index: 1;
}

#course{
	background: #451e66;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 10vh;
	position: relative;
}

#inblog{
	width: 80%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-left: 10vw;
	padding-right: 10vw;
}

.text{
	padding-top: 20vh;
	color: white;
	font-size: calc(8px + 1.2vw);
	font-family: Sanchez;
	letter-spacing: 2px;
	line-height: 1.5;
	text-align: justify;
	transition: opacity 2s;
	text-shadow: 3px 3px 5px black;
	animation: text 1s alternate ease-in-out infinite;
}


.havok{
	background: transparent;
	border: 0px solid white;
		font-size: calc(10px + 1.5vw);
	font-family: Sanchez;
	color: white;
	letter-spacing: 1px;
	margin: 5px;
	position: relative;
	padding: 15px;
	transition: background 1s;
	left: 50%;
	transform: translateX(-50%);
	text-shadow: 3px 3px 5px black;
	animation: havok 1s alternate ease-in-out infinite;
}

.havok:hover{
	background: black;
}

.havok:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #dcc6ee;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}

.havok:hover:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.span-text{
	transform: translate3d(0, 0.5em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.line {
  position: absolute;
  background: #dcc6ee;
}

.-right, .-left{
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}

.-top, .-bottom{
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}
.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}
.-top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}
.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}
.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

.havok:hover  .span-text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.havok:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.havok:hover .line {
  transform: scale3d(1, 1, 1);
}

.havok:hover .-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}

.havok:hover .-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}

.havok:hover 	.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}

.havok:hover .-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}

#astro{
	position: relative;
}

#pcmoon{
	width: 80%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-left: 10vw; 
	padding-right: 10vw;
}

.stars{
  position: absolute;
  background: #f1f1f1;
  border-radius: 50%;
}

#astronaut, #moonvec{
	width: 100%;
	position: relative;
	opacity: 1;
filter: drop-shadow(40px 40px 15px black);
   mix-blend-mode: luminosity;
animation: astro 2s alternate ease-in-out infinite;
z-index: 400;
}

#moonvec{
	width: 120%;
	border-radius: 50%;
	left: -30%;
	animation-delay: 1s;
}

#smalltext{
	font-size: calc(5px + 0.75vw);
	text-align: center;
	width: 100%;
}

@keyframes astro{
	to{
		transform: translateY(-25px);
filter: drop-shadow(65px 90px 30px black);		
	}	
}

@keyframes havok{
	to{
		text-shadow: 8px 13px 10px black;
	}
}

@keyframes text{
	to{
		transform: translateY(-5px);
		text-shadow: 8px 13px 10px black;
	}
}

@keyframes twinkling{
	to{
		opacity: 0.1;
	}
}

#waves3{
	background: url('/ShowcaseGraphicsWebsite/assets/images/waves3.svg');
	background-size: cover;
	width: 100vw;
	aspect-ratio: 900/250;
	position: relative;
	bottom: 0;
	z-index: 10;
}

#activity{
	background: #242424;
	position: relative;
	padding-top: 20vh;
}


#visualblob{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1;
	opacity: 0.2;
}

#blob2, #hand_init{
	visibility: hidden;
}

#motiv{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 10vh;
		width: 100vw;

}

#motivtext{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#inmotivtext{
	width: 80%;
	position: relative;
	left: 5vw;
	top: -10vh;
	font-size: calc(5px + 1vw) ;
	color: black;	
	line-height: 1.75;
	letter-spacing: 3px;
	word-spacing: 10px;
	font-family: Montserrat;
	position: relative;
	overflow: hidden;
	padding: 25px;
	border-radius: 10px;
	opacity: 0;
	transform: translateY(-50px);
	transition: all 1.5s;
}

#motivgif{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	overflow: visible;
   position: relative;
   transform: translateX(5%) translateY(-20%);
   z-index: 2;
}

#gifholder{
	    width: 90%;
    aspect-ratio: 1;
    color: white;
    background: url('/ShowcaseGraphicsWebsite/assets/images/harmonicosc.gif') no-repeat;
    filter: opacity(1) contrast(2) saturate(200%);
    background-size: cover;
    user-select: none;
    font-size: 11vw;
    word-break: break-all;
    font-family: Peace;
    line-height: 0.75;
    font-weight: bolder;
    font-style: inherit;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align: center;
   -webkit-mask-image: linear-gradient(to left, rgba(255,255,255,1), rgba(0,0,0,0.1));
   transition: all 0.5s;
}

#bubbles{
	width: 100vw;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent;
	pointer-events: none;
}

.bubble{
	border-radius: 50%;
	background-image: radial-gradient(farthest-corner at 40px 40px, rgba(255,255,255,0.8), rgba(255,255,255,0));
	aspect-ratio: 1;
	pointer-events: none;
	position: absolute;
	bottom: 20%;
	animation: bubblerise 7s forwards linear;
}

@keyframes bubblerise{
	to{
		bottom: 100%;
		opacity: 0;
	}
}

#bitholder{
	width: 100%;
	aspect-ratio: 1;
	position: relative;
	top: -15%;
	z-index:50;
}

#svgoverlay{
	width: 25%;
	height: 25%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) );
}

#adi_hand{
	transform-box: fill-box;
	transform-origin: bottom left;
}

@keyframes wavehand{
	to{
		transform: rotate(-5deg);
	}
}

#bitholder{
	/*transform: translateX(-100%) translateY(100%);*/
	transition: all 1s;	
}


#wavesfinal{
	background-image: url('/ShowcaseGraphicsWebsite/assets/images/stacked-steps-haikei.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	aspect-ratio:  900/250;
	width: 100vw;
	position: relative;
	bottom: 0;
	z-index: 1;
	margin-top: 10vh ;
}

#end{
	position: relative;
	min-height:50vh;
	width: 100vw;
	background: black;
}

#resume{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}

.resbut{
	border: 2px solid white;
	color: white;
	background: transparent;
	font-size: calc(7px + 0.75vw);
	padding: 10px;
	margin-left: 5vw;
	font-family: Sanchez;
	font-weight: normal;
	position: relative;
	overflow: hidden;
	transition: all 0.75s;
	box-shadow: inset 0px 0px 1px black;
	z-index: 1;
	margin-top:10px;
	width: 70%;
}

.resbut:after{
	content: '';
	width: 120%;
	aspect-ratio: 1;
	background: white;
	position: absolute;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) scale(0);
	transition: all 0.75s;
	z-index: -1;
}

.resbut:before{
	content: '';
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border: 5px solid black;
	background: transparent;
	z-index: 2;
	transition: all 0.75s;
	opacity: 0;
}

.resbut:hover::before{
	opacity: 1;
}

.resbut:hover{
	color: black;
	font-weight: bold;
}

.resbut:hover::after{
	transform: translateX(-50%) translateY(-50%) scale(1);
}

#resclose{
	border: 2px solid black;
	color: black;
	position: absolute;
	padding: 10px;
	border-radius: 50%;
	background: white;
	color: black;
	font-size: calc(10px + 1vw);
	width: calc(40px + 1vw);
	height: calc(40px + 1vw);
	margin: 20px;
	transition: all 1s;
}

#resclose:hover{
	background: black;
	color: white;
}

#peeps{
	background: url('/ShowcaseGraphicsWebsite/assets/images/peeps2.png');
	background-size: cover;
	background-repeat: no-repeat;
}

#bottom{
	display: grid;
	grid-template-columns:1fr 1.5fr 1fr;
	position:relative;
	width:80%;
	left: 50vw;
	transform: translateX(-45vw);
	margin-left: 5vw;
	margin-right: 5vw;
	padding-bottom: 10vh;
}

#pbot{
	padding: 7.5%;
	color:white;
	font-family: Montserrat;
	font-variant: all-petite-caps;
	font-size: larger;
	line-height: 2;
	letter-spacing: 2px;
	text-align: justify;
}

.buttons{
	display: grid;
	grid-template-rows: repeat(4, 1fr);
}