#solar{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	transform: translateX(5%) translateY(10%) scale(0.25);	
	z-index: 2;
	transition: all 2s;
	transform-origin: center center;
	opacity: 0;
}

#solar> *{
	position:  absolute;
	transform-origin: center center;
}

.orbit{
	border: 1px solid black;
	border-radius: 50%;
	aspect-ratio: 1 ;
}


.orbit> *{
  position: absolute;
  transform-origin: center center;
}

.sun{
	background-image: url('/ShowcaseGraphicsWebsite/assets/images/sun.png');
	background-position:center ;
	background-size: 105%;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 25%;
	aspect-ratio: 1;
	animation: rotateonly 15s linear infinite;
}

.o-merc{
	width: 30%;
	animation: rotateonly 1.5s linear infinite;
}

.merc{
	height: 7.5%;
	aspect-ratio:  1;
	background-color: yellow;
	border-radius: 50%;
	border:  1px solid black;
	left: 100%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	animation: rotate 1.5s linear infinite;
}

.o-ven{
	width: 40%;
	animation: rotateonly 2.5s linear infinite;
}

.ven{
	height: 7.5%;
	aspect-ratio:  1;
	background: linear-gradient(-90deg, yellow 40%, orange 50%, red 70%);
	border-radius: 50%;
	border:  1px solid black;
	left: 0%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	/*animation: rotate 2.5s linear infinite;*/
}

.o-ear{
	width: 50%;
	animation: rotateonly 4s linear infinite;
}

.ear{
	background-image: url('/ShowcaseGraphicsWebsite/assets/images/earth.jpg') ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	height: 10%;
	aspect-ratio: 1;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	animation: rotate 2s linear infinite;
}

.o-moon{
	width: 14%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	animation: rotate 2s linear infinite;
}

.moon{
	 background: linear-gradient(0deg, white 40%, black 70%);
	 left: 50%;
	 transform: translateX(-50%) translateY(-50%);	
	 border-radius: 50%;
	 height: 18%;
	 aspect-ratio:  1;
	animation: rotateinv 2s linear infinite;
}

.o-mars{
	width: 70%;
	animation: rotateonly 6s linear infinite;
}

.mars{	
	background-image: url('/ShowcaseGraphicsWebsite/assets/images/mars.png') ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	height: 8%;
	aspect-ratio: 1;
	left: 50%;
	top: 100%;
	transform: translateX(-50%) translateY(-50%);
	animation: rotate 4s linear infinite;
}

.o-marmoon{
	height: 12%;
	aspect-ratio: 1;
	left: 50%;
	top: 100%;
	transform: translateX(-50%) translateY(-50%);
	animation: rotate 2s linear infinite;
}

.marmoon{
	background: linear-gradient(-60deg, red 40%, orange 70%);
	border-radius: 50%;
	height: 12%;
	aspect-ratio: 1;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	animation: rotateinv 1s linear infinite;
}


.o-jup{
	width: 120%;
	animation: rotateonly 8s linear infinite;
}

.jup{
	background-image: url('/ShowcaseGraphicsWebsite/assets/images/jupiter.png') ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	height: 15%;
	aspect-ratio: 1;
	left: 100%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	animation: rotate 5s linear infinite;
}

.o-jupmoon{
	height: 20%;
	aspect-ratio: 1;
	left: 100%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	animation: rotate 5s linear infinite;
}

.jupmoon{
	background: linear-gradient(-90deg, green 40%, white 70%);
	border-radius: 50%;
	height: 10%;
	aspect-ratio: 1;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	animation: rotateinv 5s linear infinite;
}

@keyframes rotateonly{
	from {
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@keyframes rotate{
	from {
		transform: rotate(0deg) translateX(-50%) translateY(-50%);
		transform-origin: 0% 0%;
	}
	to{
		transform: rotate(360deg) translateX(-50%) translateY(-50%);
		transform-origin: 0% 0%;
	}
}

@keyframes rotateinv{
	from {
		transform: rotate(0deg) translateX(-50%) translateY(-50%);
		transform-origin: 0% 0%;
	}
	to{
		transform: rotate(-360deg) translateX(-50%) translateY(-50%);
		transform-origin: 0% 0%;
	}
}

